{% extends '@HarmonyAdmin/default/layout.html.twig' %}

{% trans_default_domain 'HarmonyAdminBundle' %}

{% block content_title %}
  {% spaceless %}
    {{ 'themes.title'|trans|raw }}
  {% endspaceless %}
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-md-9">
      <div class="card-columns">
        {% for theme in themes %}
          <div class="card">
            <img class="card-img-top" src="{{ theme.preview }}">
            <div class="card-body">
              <h4 class="card-title">{{ theme.name }}</h4>
              <div class="text-muted card-subtitle">By
                <a href="{{ theme.authors.0.homepage }}" target="_blank">{{ theme.authors.0.name }}</a></div>
              <div>{{ theme.description }}</div>
            </div>
            <div class="align-items-center card-footer d-flex justify-content-between">
              {% if null == setting_get('theme') or setting_get('theme') != theme.name %}
                <a class="btn btn-primary" href="{{ path('admin_theme_activate', { 'name': theme.name }) }}">Activate</a>
              {% else %}
                <a class="btn btn-default" href="{{ path('admin_theme_deactivate', { 'name': theme.name }) }}">Deselect</a>
              {% endif %}
              <span class="float-right text-muted font-13">Version: {{ theme.version }}</span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}