<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache"/>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="generator" content="HarmonyAdmin"/>

  <title>{% block page_title %}{{ block('content_title')|striptags|raw|trim }}{% endblock %}</title>

  {% block head_stylesheets %}
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ asset('bundles/harmonyadmin/stylesheets/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/harmonyadmin/stylesheets/bootstrap-toggle.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('bundles/harmonyadmin/stylesheets/main.min.css') }}">
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    {#<style>#}
    {#{{ harmonyadmin_config('_internal.custom_css')|raw }}#}
    {#</style>#}
  {% endblock %}

  {% for css_asset in harmonyadmin_config('design.assets.css') %}
    <link rel="stylesheet" href="{{ asset(css_asset) }}">
  {% endfor %}

  {% block head_favicon %}
    {% set favicon = harmonyadmin_config('design.assets.favicon') %}
    <link rel="icon" type="{{ favicon.mime_type }}" href="{{ asset(favicon.path) }}"/>
  {% endblock %}

  {% block head_javascript %}
  {% block adminlte_options %}
    <script type="text/javascript">
      var AdminLTEOptions = {
        animationSpeed      : 'normal',
        sidebarExpandOnHover: false,
        enableBoxRefresh    : false,
        enableBSToppltip    : false,
        enableFastclick     : false,
        enableControlSidebar: false,
        enableBoxWidget     : false
      };
    </script>
  {% endblock %}

    <script src="{{ asset('bundles/harmonyadmin/javascript/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/harmonyadmin/javascript/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/harmonyadmin/javascript/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('bundles/harmonyadmin/javascript/bootstrap-toggle.min.js') }}"></script>
    <script src="{{ asset('bundles/harmonyadmin/javascript/metisMenu.min.js') }}"></script>
    <script src="{{ asset('bundles/harmonyadmin/javascript/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bundles/harmonyadmin/javascript/app.min.js') }}"></script>
  {% endblock head_javascript %}

  {% if harmonyadmin_config('design.rtl') %}
    <link rel="stylesheet" href="{{ asset('bundles/harmonyadmin/stylesheet/bootstrap-rtl.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/harmonyadmin/stylesheet/adminlte-rtl.min.css') }}">
  {% endif %}
</head>

{% block body %}
  <body id="{% block body_id %}{% endblock %}"
        class="fixed-navbar {% block body_class %}{% endblock %} {{ app.request.cookies.has('_harmonyadmin_navigation_iscollapsed') ? 'sidebar-collapse' }}">
    <div class="page-wrapper">
      {% block wrapper %}
        <header class="header">
          {% block header %}
            <!-- Logo -->
            {% block header_logo %}
              <div class="page-brand">
                <a class="link w-100 text-center" href="{{ path('admin') }}"
                   title="{{ harmonyadmin_config('site_name')|striptags }}">
                  <span class="brand">
                    {{ harmonyadmin_config('site_name')|raw }}
                  </span>
                  <span class="brand-mini">{{ harmonyadmin_config('site_name')|striptags|first }}</span>
                </a>
              </div>
            {% endblock header_logo %}

            <div class="flexbox flex-1">
              <ul class="nav navbar-toolbar">
                <li><a class="nav-link sidebar-toggler js-sidebar-toggler"><i class="fas fa-bars"
                                                                              title="{{ 'toggle_navigation'|trans(domain = 'HarmonyAdminBundle') }}"></i></a>
                </li>
              </ul>
              {% block header_custom_menu %}
                {% set _logout_path = harmonyadmin_logout_path() %}
                <ul class="nav navbar-toolbar">
                  <li><a href="#" title="Visit site"><i class="fa fa-home"></i></a></li>
                  <li class="dropdown dropdown-user">
                    {% block user_menu %}
                      <span class="sr-only">{{ 'user.logged_in_as'|trans(domain = 'HarmonyAdminBundle') }}</span>
                      {% if app.user|default(false) == false %}
                        <i class="hidden-xs fa fa-user-times"></i>
                        {{ 'user.anonymous'|trans(domain = 'HarmonyAdminBundle') }}
                      {% elseif not _logout_path %}
                        <i class="hidden-xs fa fa-user"></i>
                        {{ app.user.username|default('user.unnamed'|trans(domain = 'HarmonyAdminBundle')) }}
                      {% else %}
                        <a class="nav-link dropdown-toggle link" data-toggle="dropdown" aria-expanded="false">
                          <i class="far fa-user-circle mr-2"></i>
                          <span></span>
                          {{ app.user.username|default('user.unnamed'|trans(domain = 'HarmonyAdminBundle')) }}
                          <i class="fa fa-angle-down m-l-5"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                          {% block user_menu_dropdown %}
                            <li><a class="dropdown-item" href="profile.html"><i class="fa fa-user"></i>Profile</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ _logout_path }}"><i
                                    class="fa fa-power-off"></i>{{ 'user.signout'|trans(domain = 'HarmonyAdminBundle') }}
                              </a></li>
                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                              <li>
                                <a href="?_switch_user=_exit"><i
                                      class="fa fa-sign-out"></i> {{ 'user.exit_impersonation'|trans(domain = 'HarmonyAdminBundle') }}
                                </a>
                              </li>
                            {% endif %}
                          {% endblock user_menu_dropdown %}
                        </ul>
                      {% endif %}
                    {% endblock user_menu %}
                  </li>
                </ul>
              {% endblock header_custom_menu %}
            </div>
          {% endblock header %}
        </header>

        <nav class="page-sidebar" id="sidebar">
          {% block sidebar %}
            <div id="sidebar-collapse">
              {% if app.user %}
                <div class="admin-block d-flex">
                  <div><img src="{{ asset('bundles/harmonyadmin/img/empty-avatar.png') }}" width="45px"></div>
                  <div class="admin-info">
                    <div class="font-strong">
                      {{ app.user.username|default('user.unnamed'|trans(domain = 'HarmonyAdminBundle')) }}
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                      <small>Administrator</small>
                    {% elseif is_granted('ROLE_USER') %}
                      <small>User</small>
                    {% else %}
                      <small>Anonymous</small>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% block main_menu_wrapper %}
                {{ include([
                  _entity_config is defined ? _entity_config.templates.menu,
                  harmonyadmin_config('design.templates.menu'),
                  '@HarmonyAdmin/default/menu.html.twig'
                ]) }}
              {% endblock main_menu_wrapper %}
            </div>
          {% endblock sidebar %}
        </nav>

        <div class="content-wrapper">
          {% block content %}
            {% block flash_messages %}
              {{ include(_entity_config is defined ? _entity_config.templates.flash_messages : '@HarmonyAdmin/default/flash_messages.html.twig') }}
            {% endblock flash_messages %}

            <div class="page-heading">
              {% block content_header %}
                <h1 class="page-title">{% block content_title %}{% endblock %}</h1>
              {% endblock content_header %}
              {% block content_help %}
                {% if _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
                  <div class="box box-widget help-entity">
                    <div class="box-body">
                      {{ _entity_config[app.request.query.get('action')]['help']|trans|raw }}
                    </div>
                  </div>
                {% endif %}
              {% endblock content_help %}
            </div>

            <section id="main" class="content">
              {% block main %}{% endblock %}
            </section>
          {% endblock content %}
        </div>
      {% endblock wrapper %}
    </div>

    {% block body_javascript %}{% endblock body_javascript %}

    {% for js_asset in harmonyadmin_config('design.assets.js') %}
      <script src="{{ asset(js_asset) }}"></script>
    {% endfor %}
  </body>
{% endblock body %}
</html>