{% extends 'knp_menu.html.twig' %}

{% import 'knp_menu.html.twig' as knp_menu %}

{% block list %}
  {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
    <ul{{ knp_menu.attributes(listAttributes) }}>
      {{ block('children') }}
    </ul>
  {% endif %}
{% endblock %}

{% block spanElement %}<a href="#"{{ knp_menu.attributes(item.labelAttributes) }}>{{ block('label') }}</a>{% endblock %}

{% block label %}
  {% if item.extras.icon is defined %}<i class="sidebar-item-icon {{ item.extras.icon }}"></i>{% endif %}
  <span class="nav-label">
    {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label }}{% endif %}
  </span>
  {% if item.children|default([]) is not empty %}<i class="fa fa-angle-left arrow"></i>{% endif %}
{% endblock %}