<div class="col-{{ item.size|default('3') }}">
  <a href="{{ path('admin_entity', { entity: item.entity, action: 'list' }) }}"
     class="ibox bg-{{ item.css_class|default('primary') }} color-white widget-stat mb-0 d-block">
    <div class="ibox-body">
      <h2 class="m-b-5 font-strong">{{ item.count }}</h2>
      <div class="m-b-5">{{ item.label|default('items')|trans }}</div>
      <i class="widget-stat-icon {{ item.icon|default('bars') }}"></i>
    </div>
  </a>
</div>